!*

#solution files
!*.cpp
!*.hpp

#keep visual studio solution/projects
!*.sln
!*.vcxproj
!*.vcxproj.filters

#remove merge conflict original
*.orig

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#temporary visual studio
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.obj
*.pch
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
CodinGame/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
packages/